[submodule "output"]
	path = output
	url = https://github.com/thebouv/thebouv.github.io
[submodule "themes/themes/pelican-orange"]
	path = themes/themes/pelican-orange
	url = git@github.com:thebouv/pelican-orange.git
[submodule "themes/pelican-orange"]
	path = themes/pelican-orange
	url = git@github.com:thebouv/pelican-orange.git
