[submodule "output"]
	path = output
	url = git@github.com:thebouv/thebouv.github.io.git 
[submodule "theme/brutalist-theme"]
	path = theme/brutalist-theme
	url = git@github.com:thebouv/brutalist-theme.git
